html,body, .container-fluid
{
    height:100%;
    background-color: #e6e5e5;
}


h1 {
  margin: 0px;
  font-size: 42px;
}

h3 {
  font-weight: bold;
}

h4.creamfont {
  color: #f9e5d2;
  font-size: 18px;
}

p.whitefont {
  color: #ffffff;
}

.col-md-12 {
  padding: 0px;
}

.col-md-3 {
  padding: 0px;
  height: 100vh;

}

.banner {
  padding-top: 75px;
  background-color: #f9e5d2;
  height: 200px;
  text-align: center;
}

.sidebar {
  padding: 10px;
  background-color: #7fae7f;
  text-align: left;
  height: 100%;
}

.spacer {
    background-color: #e6e5e5;
    height: 30px;
}

.row {
  padding: 0px;
  height: 100%;
}

.main {
  padding-top: 30px;
  padding-left: 30px;
}

ul.output {
  padding-top: 10px;
}

.btn-default {
  color: #000;
  background-color: #b3b3b3;
}
